---
import Layout from "../layouts/Layout.astro";

let res = await fetch("https://margaritamexicanhouse.com/wp-json/wp/v2/posts");
let posts = await res.json();
---
<Layout title="Dinos!">
  <section>
    <h1>List of Dinosaurs</h1>
    {
      posts.map((post:any) => (
        <article>
					<a href={`${post.slug}/`}>	
					<img style="width:30vw" src={post.jetpack_featured_media_url} />
					</a>
          <h2>
            <a href={`${post.slug}/`} set:html={post.title.rendered} />
          </h2>
          <Fragment set:html={post.content.rendered} />
        </article>
      ))
    }
  </section>
</Layout>